<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header col-md-3">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a href="#" class="navbar-brand">GitHub Search Profile</a>
        </div>
        <div class="col-md-6">
            <form id="form-search" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input [(ngModel)]="keySearch" id="search-box" (keyup)="search(keySearch)"
                            class="form-control" name="username" placeholder="Enter A Github Username..."
                            autocomplete="off" type="text"
                        >
                        <div class="input-group-addon"><i aria-hidden="true" class="fa fa-keyboard-o"></i></div>
                        <!--The additional ? is required because list$ is only set after Angular2 tries to render
                        the view the first time. ? prevents the rest of the sub-expression to be evaluated
                        until the part left of ? becomes != null (Elvis or safe-navigation operator)
                        https://stackoverflow.com/questions/38057537/how-to-check-length-of-the-an-observable-array

                        The *ngFor can't do anything with an Observable until you route it through the async pipe (AsyncPipe).
                        The async pipe subscribes to the Observable and produces the array of heroes to *ngFor.
                        -->
                        <div class="suggestion-container" [hidden]="(listUser$ | async)?.length <= 0 || hideResultSearch">
                            <div *ngFor="let user of listUser$ | async" class="suggestion" (click)="findUser(user.login)">
                                <span>{{user.login}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 contact-us">
            <nav class="nav navbar-nav pull-right">
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/truong.bui.7">
                    <i aria-hidden="true" class="fa fa-facebook"></i> Facebook</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/d10cn2btt">
                    <i aria-hidden="true" class="fa fa-github"></i> Github</a>
                </li>
            </nav>
        </div>
    </div>
</nav>