.navbar-brand, .contact-us a {
  color: #fff;
}

#form-search {
  padding: 5px;

  .form-group {
    margin-bottom: 0;

    input {
      height: 40px;
    }
  }
}

.search-result {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.suggestion-container {
  height: 245px;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  background-clip: padding-box;
  width: 100%;
}

.suggestion {
  cursor: pointer;
  display: block;
  padding: 3px 20px;
}

.suggestion.active, .suggestion:hover {
  color: #fff;
  background-color: #0081c2;
}

.suggestion p {
  margin: 0;
}

[hidden] {
  display: none;
}

// repos
.list-group-item {
  p {
    margin-bottom: 0;
  }

  .description {
    width: 70%;
  }

  .stat-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}

.user-info-wrapper {
  display: flex;

  .view-profile {
    width: 100%;
    margin-top: 10px;
  }

  .user-info {
    margin-bottom: 0;

    .list-group-item {
      font-size: 16px;
    }
  }
}